.estrelas, .efeito-brilho{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }

.estrelas {
    background:rgb(88, 75, 248) url(../../img/stars2.svg) repeat top center;
    z-index:1;
}

.efeito-brilho {
    background:transparent url(../../img/shining-effect.png) repeat top center;
    z-index:1;
    animation:mover-efeito-brilho 200s linear infinite;
}

.cadente {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100%;
    display:block;
  }

  .cadente {
    background:transparent url(../../img/shooting-stars.png) repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:2;
    opacity: .4;
    animation:mover-cadentes 650s linear infinite;
}

@keyframes mover-cadentes {
    from {background-position:0 0;}
    to {background-position:250000px 0;}
}

@keyframes mover-efeito-brilho {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.calltoaction{
    display: flex;
    flex-direction: column;
}